<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHangmanTools" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63455/HangmanTools.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHangmanTools" contract="WcfHangmanTools.IHangmanTools"
                name="BasicHttpBinding_IHangmanTools" />
        </client>
    </system.serviceModel>
</configuration>